.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    clip-path: circle();
  }

.footer {
    background-color: #A57E5F;
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
    height: 80px;
    
}

.card {
    border: 1px solid #272C2E;
    border-radius: 60px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #fbdebc;
    height: 500px;
    width: 85%;
    margin-left: 70px;
    box-shadow: 10px 5px 5px rgb(43, 42, 42);
}

.card:hover {
    background-color: #dfb492;
}

/* Paleta de Cores 
.color1 { #fbdebc };
.color2 { #b9b498 };
.color3 { #9a8d75 };
.color4 { #A57E5F };
.color5 { #272C2E };
*/
 


