.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    clip-path: circle();
    height:150px;
  }
ul li {
  color:#ffffff;
  font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer {
    background-color: #202020;
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
    height: 80px;
    color:white;
    
}

.card {
    border: 1px solid #272C2E;
    border-radius: 60px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
    height: 530px;
    width: 85%;
    margin-left: 70px;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*box-shadow: 10px 5px 5px rgb(43, 42, 42);*/
}

.card:hover {
    background-color: #C0C0C0;
}

.button {
  background-color: #D8D8D8;
  width: 25%;
  border-radius: 10px;
}

.button:hover {
  background-color: #606060;
  width: 25%;
  border-radius: 10px;
}


a { color: inherit; } 

.card_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 220px;
    
  }

h1{
  color:#000000;
  text-align: center;
  font-family: cursive;
}
/* Paleta de Cores 
.color1 { #fbdebc };
.color2 { #b9b498 };
.color3 { #9a8d75 };
.color4 { #A57E5F };
.color5 { #272C2E };
*/
 


